<div class="conatiner-fuild">
	<div class="row mt-5">
		<div class="col"></div>
		<div class="col-8 center" style="width:90%; position: relative; left:28%; height: 100%;">
			<div class="col-4">
				<div class="card-shadow">
					<div class="card-body">
						<form>
							<div class="mb-3">
								<h4 class="text-dark text-muted">Verify Your Email</h4>
							</div>
							<div class="mb-3">
                             <p>Link has send on your registed eamil. please verify it</p>
							</div>
							<div class="row">
								<div class="col-6">
									<a href="" style="text-decoration:none;">Have an Account? <span class="text-danger">Login</span></a>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col"></div>
	</div>
</div>
