<div class="conatiner-fuild">
	<div class="row mt-5">
		<div class="col"></div>
		<div class="col-8 center" style="width:90%; position: relative; left:28%; height: 100%;">
			<div class="col-4">
				<div class="card-shadow">
					<div class="card-body">
						<form>
							<div class="mb-3">
								<h4 class="text-dark text-muted">Forget password</h4>
							</div>
							<div class="mb-4">
								<label for="exampleInputEmail1" class="form-label">Email</label>
								<input type="email" class="form-control" id="exampleInputEmail1"
									aria-describedby="emailHelp" name="email" [(ngModel)]="email">
							</div>
							<button (click)="forgetpass()" class="btn btn-success">Send</button>
							<div class="row">
								<div class="col-6">
									<a href="" style="text-decoration:none;">back to <span class="text-danger">Login</span></a>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col"></div>
	</div>
</div>

